*{
    margin: 0;
    padding: 0;     
    box-sizing: border-box;
}
body{
    /* overflow: hidden; */
    display: felx;
    justify-content: center;
    align-items: center;
}
#container{
    height: 100vh;
    width: 100vw;
    display: grid;
    /* transform: scaleX(0.980); */
    background-color: #00FF00;
    place-items: center;

}
#canvas1{
    background-color: black;
}
#canvas2{
    z-index: 1;
}
canvas{
    position: absolute;
}
#scores{
    display: none;
    box-sizing: border-box;
    height: 50px;
    width: 90vw;
    opacity: 60%;
    background: black;
    border: 2px solid cyan;
    border-radius: 5px;
    /* display: flex; */
    flex-direction: row;
    position: absolute;
    bottom:-12px;
    color: cyan;
    padding: 20px;
    font-size: 25px;
    box-sizing: border-box;
    font-family: 'Orbitron Black';
    font-weight: 100;
    
}
